*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    color: red;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;/** this means 100% of the view screen*/
}
.banner-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);/* this means it takes the element to its half of its width and height left and right */
}
h1{
    margin: 0;
    color: #fff;
    font-size: 200%; /* in responsive app everything should be relative. in this we have set 200% and universal font is 20px so this is 40px;*/
    
}